<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->
<link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap" rel="stylesheet">

<!-- Open Graph Tags -->
<meta property="og:title" content="{% if page.title and page.layout != 'home' %}{{ page.title }} | {% endif %}Commander Grimoire" />
<meta property="og:image" content="{{ page.image | default: site.header_image | relative_url }}" />
<meta property="og:description" content="{{ page.excerpt | default: page.description | default: site.description }}" />
<meta property="og:url" content="{{ page.url | absolute_url }}" />
<meta property="og:type" content="site" />

<!-- Twitter Card Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{% if page.title and page.layout != 'home' %}{{ page.title }} | {% endif %}Commander Grimoire" />
<meta name="twitter:image" content="{{ page.image | default: site.header_image | relative_url }}" />
<meta name="twitter:description" content="{{ page.excerpt | default: page.description | default: site.description }}" />

<!-- end custom head snippets -->
