<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <title>{% if page.title and page.layout != "home" %}{{ page.title }} | {% endif %}Commander Grimoire</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <script src="{{ '/assets/css/global.js?v=' | append: site.github.build_revision | relative_url }}" defer></script>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="backdrop toggle-menu"></div>
    <a id="skip-to-content" href="#content">Skip to the content.</a>
    <nav class="site-nav" role="navigation">
      <div class="container">
        <div class="search-container"></div>

        <div class="site-logo-container">
          <a class="site-logo-link" href="/">
            <img src="{{ '/assets/images/Header-Logo.png' | relative_url }}" alt="Commander Grimoire" class="site-logo">
          </a>
        </div>

        <div class="desktop-menu">
          {% include main-nav.html %}
        </div>

        <div class="burger-container toggle-menu">
          <svg class="burger" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M4 5C3.44772 5 3 5.44772 3 6C3 6.55228 3.44772 7 4 7H20C20.5523 7 21 6.55228 21 6C21 5.44772 20.5523 5 20 5H4ZM7 12C7 11.4477 7.44772 11 8 11H20C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13H8C7.44772 13 7 12.5523 7 12ZM13 18C13 17.4477 13.4477 17 14 17H20C20.5523 17 21 17.4477 21 18C21 18.5523 20.5523 19 20 19H14C13.4477 19 13 18.5523 13 18Z" fill="#fff"></path> </g></svg>
        </div>
      </div>
    </nav>
    <div class="mobile-menu">
      {% include main-nav.html %}
    </div>
    {% include page-header.html %}
    <div class="container">
      <main id="content" class="main-content" role="main">