<div class="menu-container">
    <ul class="main-menu">
        <li class="site-nav-item"><a href="{{ '/posts/' | relative_url }}">Posts</a></li>
        <li class="site-nav-item"><a href="https://www.youtube.com/@CommanderGrimoire" target="_blank">YouTube</a></li>
        <li class="site-nav-item"><a href="https://open.spotify.com/show/4tubTbkqtKHtbd9sy4Esm1?si=41b3a70318a44ca0" target="_blank">Podcast</a></li>
        <li class="site-nav-item"><a href="{{ '/staff/' | relative_url }}">Staff</a></li>
        <li class="site-nav-item"><a href="{{ '/about/' | relative_url }}">About</a></li>
        <!-- <li class="site-nav-item"><a href="{{ '/contact/' | relative_url }}">Contact</a></li> -->
    </ul>
</div>