.page-header {
    position: relative;
    background-position: center;
    background-size: cover;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    svg.torn-paper-bottom {
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        z-index: 1;
        width: 100%;
        height: auto;
    }
}