.page-header {
    position: relative;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    background-image: url('/assets/images/pages/home/home-masthead.png');
    min-height: 500px;
    @media(min-width: 768px){
        min-height: 700px;
    }
    &:before {
        content: "";
        background-color: rgba(0,0,0,0.3);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        pointer-events: none;
    }
    h1,
    h2 {
        z-index: 1;
        color: #ffffff;
    }
    svg.torn-paper-bottom {
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        z-index: 1;
        width: 100%;
        height: auto;
    }
}