---
---

@import './jekyll-theme-cayman';
@import './top-navigation';
@import './decks';
@import './page-header';
@import './post-listing';

body {
    background-color: #faf5f2;
}
h1,
h2,
h3,
h4 {
    font-family: 'Jacques Francois', serif;
    font-weight: 400;
}
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 1rem;
    padding-right: 1rem;
}
.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}
details {
    summary {
        cursor: pointer;
    }
}
.main-content {
    padding: 1rem 0;
    h1, 
    h2, 
    h3, 
    h4, 
    h5, 
    h6 {
        color: #000000;
    }
    .post-meta {
        text-align: center;
    }
    .post-content {
        margin: 0 auto;
        @media(min-width: 768px){
            max-width: 650px;
        }
        p {
            position: relative;
            // @media(max-width: 767px){ // Torn image look for mobile for post page content
                &:has(img){
                    &:before,
                    &:after {
                        content: "";
                        display: block;
                        height: 2rem;
                        background-image: url('/assets/images/global/page-rip.png');
                        background-position: bottom;
                        background-size: cover;
                        background-repeat: no-repeat;
                        position: absolute;
                        width: 100vw;
                        max-width: 100vw;
                        left: 50%;
                        right: 50%;
                        margin-left: -50vw;
                        margin-right: -50vw;
                        pointer-events: none;
                        z-index: 2;
                        @media(min-width: 768px){
                            height: 3rem;
                        }
                    }
                    &:before {
                        top: -1px;
                        transform: rotate(180deg);
                    }
                    &:after {
                        bottom: -1px;
                    }
                }
            // }
        }
        img {
            position: relative;

            @media(max-width: 767px){
                width: 100vw;
                max-width: 100vw;
                left: 50%;
                right: 50%;
                margin-left: -50vw;
                margin-right: -50vw;
            }
            @media(min-width: 768px){
                width: 100vw;
                max-width: calc(100% + 50px);
                left: -25px;
            }
        }
    }
}
.site-footer {
    background-color: #000000;
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
    a {
        color: #ffffff;
        text-decoration: underline;
    }
}


/**** Page Header ****/



/**** Top Navigation ****/


/**** Posts Listing Page ****/


/*** Staff Listing Page ***/
.staff-card {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    max-width: 400px;
    &:hover {
        text-decoration: none;
    }
    .staff-image {
        max-width: 100px;
        max-height: 100px;
        border-radius: 100%;
        overflow: hidden;
    }
    .staff-info {
        .staff-name {
            font-size: 16px;
            color: #000000;
            font-weight: bold;
        }
        .staff-position {
            color: #000000;
            font-size: 16px;
            font-style: italic;
            // font-weight: bold;
        }
        .staff-bio {
            font-size: 14px;
            color: #888888;
        }
    }
}

/**** Home Page ****/
.home-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 20px 0 !important;
    a {
        background-color: #000;
        color: #fff;
        padding: 12px 32px;
        border-radius: 100px;
        min-width: 200px;
        text-align: center;
        font-weight: bold;
    }
}

.dual-column {
    .container {
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: space-between;
        position: relative;
        max-width: calc(1200px + calc(calc(100vw - 1200px) / 2));
        .content {
            z-index: 1;
            color: #fff;
            // padding-right: calc(calc(100vw - 1200px) / 2);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            max-width: calc(600px / 100 * 45);
            max-width: calc(600px / 100 * 50);
            text-align: center;
            margin: 0 auto;
            @media(max-width: 767px){
                p {
                    display: none;
                }
            }
            * {
                margin: 0;
            }
            h2 {
                color: #fff;
            }
        }
    }
    img {
        max-width: 65vw;
        max-width: 50vw;
        width: 100vw;
        z-index: 0;
        object-fit: cover;
        object-position: center;
        height: 250px;
        @media(min-width: 768px){
            height: 400px;
        }
    }
    &::before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: #000000;
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 35%, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 1) 98%, rgba(0, 0, 0, 1) 100%);
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 1) 98%, rgba(0, 0, 0, 1) 100%);
        // background: #faf5f2;
        // background: linear-gradient(90deg, rgba(250, 245, 242, 1) 0%, rgba(250, 245, 242, 1) 35%, rgba(250, 245, 242, 0) 45%, rgba(250, 245, 242, 0) 90%, rgba(250, 245, 242, 1) 98%, rgba(250, 245, 242, 1) 100%);
    }
    .button {
        border-radius: 50px;
        height: 45px;
        background-color: #fff;
        color: #000;
        text-decoration: none;
        padding: 0.5rem 1.5rem;
        text-transform: uppercase;
        font-weight: bold;
    }
    &:nth-child(odd){
        .container {
            margin-right: 0;
            padding-right: 0;
        }
    }
    &:nth-child(even) {
        &::before {
            background: #000000;
            background: linear-gradient(270deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 35%, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 1) 98%, rgba(0, 0, 0, 1) 100%);
            background: linear-gradient(270deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 1) 98%, rgba(0, 0, 0, 1) 100%);
            // background: #faf5f2;
            // background: linear-gradient(270deg, rgba(250, 245, 242, 1) 0%, rgba(250, 245, 242, 1) 35%, rgba(250, 245, 242, 0) 45%, rgba(250, 245, 242, 0) 90%, rgba(250, 245, 242, 1) 98%, rgba(250, 245, 242, 1) 100%);
        }
        .container {
            flex-direction: row-reverse;
            margin-left: 0;
            padding-left: 0;
        }
    }
}