---
---

@import 'jekyll-theme-cayman';
/*
@import 'top-navigation';
@import 'page-header';
*/

body {
    background-color: #faf5f2;
}
h1,
h2,
h3,
h4 {
    font-family: 'Jacques Francois', serif;
    font-weight: 400;
}
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 1rem;
    padding-right: 1rem;
}
.main-content {
    padding: 1rem 0;
    .post-meta {
        text-align: center;
    }
    .post-content {
        margin: 0 auto;
        @media(min-width: 768px){
            max-width: 650px;
        }
        p {
            position: relative;
            // @media(max-width: 767px){ // Torn image look for mobile for post page content
                &:has(img){
                    &:before,
                    &:after {
                        content: "";
                        display: block;
                        height: 2rem;
                        background-image: url('/assets/images/global/page-rip.png');
                        background-position: bottom;
                        background-size: cover;
                        background-repeat: no-repeat;
                        position: absolute;
                        width: 100vw;
                        max-width: 100vw;
                        left: 50%;
                        right: 50%;
                        margin-left: -50vw;
                        margin-right: -50vw;
                        pointer-events: none;
                        z-index: 2;
                        @media(min-width: 768px){
                            height: 3rem;
                        }
                    }
                    &:before {
                        top: -1px;
                        transform: rotate(180deg);
                    }
                    &:after {
                        bottom: -1px;
                    }
                }
            // }
        }
        img {
            position: relative;

            @media(max-width: 767px){
                width: 100vw;
                max-width: 100vw;
                left: 50%;
                right: 50%;
                margin-left: -50vw;
                margin-right: -50vw;
            }
            @media(min-width: 768px){
                width: 100vw;
                max-width: calc(100% + 50px);
                left: -25px;
            }
        }
    }
}
.site-footer {
    background-color: #000000;
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
    a {
        color: #ffffff;
        text-decoration: underline;
    }
}


/**** Page Header ****/
.page-header {
    position: relative;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    background-image: url('/assets/images/pages/home/home-masthead.png');
    min-height: 500px;
    @media(min-width: 768px){
        min-height: 700px;
    }
    &:before {
        content: "";
        background-color: rgba(0,0,0,0.3);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        pointer-events: none;
    }
    h1,
    h2 {
        z-index: 1;
    }
    svg.torn-paper-bottom {
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        z-index: 1;
        width: 100%;
        height: auto;
    }
}


/**** Top Navigation ****/
.mobile-menu {
    z-index: 4;
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 150vw;
    width: 80vw;
    background: #faf6f2;
    transition: left 0.3s ease;
    .mobile-menu-container {
        position: relative;
        height: 100%;

        &:before {
            content: "";
            display: block;
            background-image: url('/assets/images/global/page-rip-left.png');
            background-position: bottom;
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            width: 2rem;
            max-width: 2rem;
            position: absolute;
            top: -1rem;
            left: calc(-2rem + 1px);
            bottom: 0;
            pointer-events: none;
            z-index: 2;
            @media(min-width: 768px){
                height: 3rem;
            }
        }
    }
    .close {
        display: block;
        margin: 1rem 1rem 1rem auto;
    }
    .menu-container {
        ul {
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            li {
                a {
                    display: inline-flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 0.5rem;
                    padding: 0.5rem 1rem;
                    color: #000000;
                    font-weight: 700;
                    svg {
                        &,
                        path,
                        g {
                            fill: #000000;
                        }
                    }
                }
            }
        }
    }
}
.backdrop {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: none;
}
body.menu-open {
    .backdrop {
        display: block;
    }
    .mobile-menu {
        left: 20vw;
    }
}

.burger-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media(min-width: 768px){
        display: none;
    }
    .burger {
        height: 30px;
    }
}
@media(max-width: 767px){
    .desktop-menu {
        display: none;
    }
}
@media(min-width: 768px){
    .mobile-menu {
        display: none;
    }
}
nav {
    padding: 1rem 0;
    position: fixed;
    background: #000000;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    @media(min-width: 768px){
        padding: 0;
        justify-content: flex-start;
    }
    & > .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .site-logo-link{
            display: flex;
            width: fit-content;
            height: fit-content;
        }
        .site-logo {
            height: 100%;
            width: auto;
            max-height: 30px;
        }
        .search-container,
        .burger-container,
        .desktop-menu {
            @media(max-width: 767px){
                flex: 1;
            }
        }
        .site-logo-container {
            display: flex;
            align-content: center;
            justify-content: center;
            @media(max-width: 767px){
                flex: 2;
            }
        }
        .search-container {
            @media(min-width: 768px){
                order: 3;
            }
        }
    }
}


/* Apply to your navigation element */
nav, .navbar, .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease, background 0.3s ease;
    z-index: 3;
}

/* Optional: Different styles when in top section */
nav.in-top-section {
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

nav.not-in-top-section {
}

/* Hide/reveal transitions */
nav.nav-hidden {
    transform: translateY(-100%);
}

nav.nav-visible {
    transform: translateY(0);
}


/**** Desktop Menu ****/
.desktop-menu {
    @media(min-width: 768px){
        margin-left: auto;
    }
    .menu-container {
        ul {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                padding: 0.5rem;
                a {
                    color: #ffffff;
                    font-weight: 700;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 0.5rem;
                    svg {
                        &,
                        path,
                        g {
                            fill: #ffffff;
                        }
                    }
                }
            }
        }
    }
}

/**** Posts Listing Page ****/
.posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-items: stretch;
    gap: 1rem;
    .post-card {
        box-shadow: 2px 2px 5px #00000050;
        border-radius: 8px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 100%;
        text-decoration: none;
        max-width: 500px;
        background-color: #faf5f3;
        @media(min-width: 768px){
            max-width: calc(50% - 0.5rem);
        }
        @media(min-width: 768px){
            max-width: calc(33.33% - 1rem);
        }
        .post-image {
            position: relative;
            width: 100%;
            padding-bottom: 75%;
            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
            &:after {
                content: "";
                display: block;
                height: 2rem;
                background-image: url('/assets/images/global/page-rip.png');
                background-position: bottom;
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                width: 100%;
                left: 0;
                right: 0;
                bottom: -1px;
                pointer-events: none;
                z-index: 2;
            }
        }
        .post-info {
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 8px;
            padding: 0 0.5rem 0.5rem 0.5rem;
            position: relative;
            .post-title {
                font-size: 16px;
                font-weight: 700;
                color: #000000;
            }
            .post-excerpt {
                margin: 0;
                font-size: 14px;
                color: #333333;
            }
            .post-date {
                text-align: right;
                font-size: 12px;
                color: #aaaaaa;
                margin-top: auto;
            }
        }
    }
}