---
---

@import 'jekyll-theme-cayman';
/*
@import 'top-navigation';
@import 'page-header';
*/

body {
    background-color: #faf5f2;
}
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 1rem;
    padding-right: 1rem;
}
.main-content {
    padding: 1rem 0;
}


/**** Page Header ****/
.page-header {
    position: relative;
    background-position: center;
    background-size: cover;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    background-image: url('/assets/images/pages/home/home-masthead.png');
    svg.torn-paper-bottom {
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        z-index: 1;
        width: 100%;
        height: auto;
    }
}


/**** Top Navigation ****/
.mobile-menu {
    z-index: 4;
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 100vw;
    width: 80vw;
    background: white;
    transition: left 0.3s ease;
}
.backdrop {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: none;
}
body.menu-open {
    .backdrop {
        display: block;
    }
    .mobile-menu {
        left: 20vw;
    }
}

.burger-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media(min-width: 768px){
        display: none;
    }
    .burger {
        height: 30px;
    }
}
@media(max-width: 767px){
    .desktop-menu {
        display: none;
    }
}
@media(min-width: 768px){
    .mobile-menu {
        display: none;
    }
}
nav {
    padding: 1rem 0;
    position: fixed;
    background: #000000;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    @media(min-width: 768px){
        justify-content: flex-start;
    }
    & > .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .site-logo-link{
            display: flex;
            width: fit-content;
            height: fit-content;
        }
        .site-logo {
            height: 100%;
            width: auto;
            max-height: 30px;
        }
        .search-container,
        .burger-container,
        .desktop-menu {
            flex: 1;
        }
        .site-logo-container {
            flex: 2;
            display: flex;
            align-content: center;
            justify-content: center;
        }
    }
}


/* Apply to your navigation element */
nav, .navbar, .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease, background 0.3s ease;
    z-index: 2;
}

/* Optional: Different styles when in top section */
nav.in-top-section {
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

nav.not-in-top-section {
}

/* Hide/reveal transitions */
nav.nav-hidden {
    transform: translateY(-100%);
}

nav.nav-visible {
    transform: translateY(0);
}


/**** Desktop Menu ****/
.desktop-menu {
    .menu-container {
        ul {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                padding: 0.5rem;
                a {
                    color: #ffffff;
                    font-weight: 700;
                }
            }
        }
    }
}