
{% include header.html %}
  
  <div class="staff-listing">
    {% for author in site.authors %}
        <a href="{{ author.url }}" class="staff-card">
            <div class="staff-image">
                <img src="{{ author.avatar }}"/>
            </div>
            <div class="staff-info">
            <div class="staff-name">{{ author.name }}</div>
            <div class="staff-position">{{ author.position }}</div>
            <div class="staff-bio">{{ author.bio }}</div>
            </div>
        </a>
    {% endfor %}
  </div>

  {{ content }}

{% include footer.html %}